body{
    background-color: black;
    margin: 0;
    height: 100vh;
    position: relative;
    cursor: pointer;

}

.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: grow 5s forwards;
    position: absolute;
    text-align: center;
}

@keyframes grow{
    0%{
        transform: scale(1);
        opacity: 1;
        font-size: 10px;
    }
    100%{
        transform: scale(3);
        opacity: 0;
        font-size: 25px;
    }
}