*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #171515;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-container{
 background: rgba(66, 116, 149, 0.678);
 padding: 20px;
 height: 400px;
 width: 340px;
 display: flex;
 flex-direction: column;
 gap: 20px;
 border-radius: 20px;
}

#qr-input{
    height: 30px;
    padding: 5px;
    padding-left: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    background:rgba(115, 136, 150, 0.678);
    color: #fff;
    font-size: 1rem;
}
#qr-input::placeholder{
    color: #eaeaea;
    font-size: 1rem;
}

.generate-btn{
    margin-top: 10px;
    padding: 8px 0;
    width: 100%;
    border-radius: 10px;
    border: none;
    background: linear-gradient(#3c7a8a, #227fb9);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.generate-btn:hover{
    background: #224e60;
}

.qr-img-box{
   text-align: center;
   padding: 20px;
}

#download-btn{
    display: none;
}