*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background:url(https://images.pexels.com/photos/13971179/pexels-photo-13971179.jpeg?_gl=1*w3xsf7*_ga*NzkzNjQ4NjExLjE3NTA3ODM1MDY.*_ga_8JE65Q40S6*czE3NjI4Njk3NzckbzQkZzEkdDE3NjI4Njk4MTIkajI1JGwwJGgw) no-repeat center center /cover;
    /* background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; */
    
}

.todo-container{
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 20px;
    width: 350px;
   height: 450px;
    color: white;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.6);
}
.title{
    text-align: center;
    font: 2rem;
    margin-bottom: 10px;
}

.task-container img{
   width: 100%;
   opacity: 0.4;
   filter: brightness(70%);
   margin-top: 20px;
   border-radius: 10px;

}
/* .task-container{
    background: url(./assets/emty-img.jpg);
    opacity: 0.4;
   filter: brightness(70%);
   margin-top: 20px;
   border-radius: 10px;
} */

form{
    display: flex;
    gap: 10px;
}

#input-task{
    flex: 1;
    padding: 8px 18px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgba(41, 79, 100, 0.772);
    color: rgb(255, 255, 255);
    font-size: 1rem;
}
#input-task::placeholder{
    color: rgb(174, 174, 174);
}
.plus-icon{
    border-radius: 50%;
    padding: 8px;
    font-size: 1.1rem;
    background-color: rgba(111, 179, 215, 0.772);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.plus-icon:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.057);
    backdrop-filter: blur(20px);
    color: rgba(111, 179, 215, 0.772);
}


/* ======= task list item ========== */

.task-list{
  max-height: 300px;
  overflow-y: auto;
  margin-top: 10px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.task-list li{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    margin-top: 20px;
   font-size: 1.2rem;
   color: #fff;
   position: relative; 
   list-style: none;
   cursor: pointer;
   background-color: rgba(41, 79, 100, 0.772);
   padding: 8px 14px;
   border-radius: 20px;
   transition: all 0.3s ease;
}
.task-list li:hover{
box-shadow: 0 0 10px rgba(111, 179, 215, 0.3);
}

.task-list li .checkbox{
    min-width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    background: transparent;
    appearance: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;

}

.task-list li .checkbox:hover{
    background-color: rgba(111, 179, 215, 0.772);
    transform: scale(1.1);
}

.task-list li .checkbox:checked::before{
    color: #fff;
    content: '\2713';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.task-list li .checkbox:checked + span {
  text-decoration: line-through;
  color: #888;
  opacity: 0.8;
}


.task-list li span{
    flex: 1;
    margin-left: 10px;
    word-wrap: break-word;
}

/* ======== in task style(delete, edit)===== */



.task-btn{
    display: flex;
    gap: 10px;
    margin-right: auto;
}
.task-btn button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 1000;
    cursor: pointer;
    border: none;
    font-size: 0.8rem;
    color: rgb(197, 197, 197);
    transition: all 0.3s ease;

}
.task-btn button:hover{
    background: transparent;
}


.task-btn .edit-btn{
    background:rgba(98, 158, 185, 0.568);
    
}

.task-btn .delete-btn{
    background: rgba(255, 0, 0, 0.404);
}