*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(39, 51, 57);
    color: #fff; display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#container{
   max-height: 850px;
   width: 350px;
   background-color: rgb(29, 92, 112);
   padding: 20px;
   border-radius: 8px;
   display: block;

}
h1{
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 10px;
    font-size: 14px;
}

.result{
    max-height: 300px;
    margin-top: 20px;
}